this.buildSettings = {
  nativeScriptName: process.env.NATIVE_SCRIPT || "pha.saver",
  idleWaitTime: parseInt(process.env.IDLE_WAIT_TIME || 2000, 10),
  historyPauseBeforeCollection: parseInt(process.env.HISTORY_PAUSE || 1000, 10),
  logLevel: process.env.LOG_LEVEL || "info",
  serverLogLevel: process.env.SERVER_LOG_LEVEL || "warn",
  server: "http://localhost:11180",
  serverBase: "http://localhost",
  updateSearchPeriod: 60 * 60 * 1000, // 1 hour
  notifyError: true,
  testingBrowser: process.env.TESTING_BROWSER || false,
  autofetchBrowser: process.env.AUTOFETCH || false,
};
