this.buildSettings = (function() {
  function toBoolean(n, defaultValue) {
    if (n !== 0 && !n) {
      return defaultValue;
    }
    if (typeof n === "string") {
      n = n.toLowerCase();
    }
    if (n === "false" || n === "0" || n === 0 || n === "off" || n === "no") {
      return false;
    }
    return true;
  }

  return {
    nativeScriptName: process.env.NATIVE_SCRIPT || "browsinglab.connector",
    logLevel: process.env.LOG_LEVEL || "info",
    serverLogLevel: process.env.SERVER_LOG_LEVEL || "warn",
    setFreezeMarker: toBoolean(process.env.SET_FREEZE_MARKER, false),
    notifyError: true,
    testingBrowser: process.env.TESTING_BROWSER || false,
    cspRestrict: toBoolean(process.env.CSP_RESTRICT, false),
    defaultArchiveLocation: process.env.DEFAULT_ARCHIVE_LOCATION || null,
    updateServerPeriod: 10000, // 60 * 60 * 1000, // 1 hour
    temporaryArchiveLocation: process.env.TEMPORARY_ARCHIVE_LOCATION || "__prefix__/../dev-data",
    temporaryUpdateServerPeriod: 10000, // 10 seconds
  };
})();
