<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>History</title>
    <style>

html, body {
  font-family: sans-serif;
}

table {
  width: 100%;
}

tr:nth-child(odd) td {
  background-color: #eee;
}

td.domain {
  max-width: 10em;
  overflow: hidden;
}

td.title {
  max-width: 30em;
  overflow: hidden;
}

    </style>
  </head>
  <body>
    <h1>History / Pages (<a href="./redirected">redirected</a>)</h1>
    <table>

      <tr>
        <th>Domain</th>
        <th>Title</th>
        <th>Fetched</th>
      </tr>

      <% for (let row of rows) { %>
        <tr>
          <td class="domain">
            <a target=_blank href="<%= row.url %>"><%= urlDomain(row.url) %></a>
          </td>
          <td class="title"><%= row.title %></td>
          <td>
            <% if (row.fetched) { %>
              <a target=_blank href="./view?url=<%= encodeURIComponent(row.url) %>">view</a>
            <% } %>
          </td>
        </tr>
      <% } %>

    </table>
  </body>
</html>
