# These are not strict requirements, but useful libraries that can be used with pha, and are used in the notebooks:
jupyter
jupyterlab

# Some JupyterLab extensions:
jupyterlab_iframe
jupyterlab_templates


# Some general machine learning libraries...
numpy
keras
tensorflow
pandas

# This is a fork of a simple NLP library to support Python 3
-e git+https://www.github.com/ianb/textteaser.git#egg=TextTeaser

# Used for entity search and NLP:
spacy
# This is the english entity database for SpaCy:
https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-2.0.0/xx_ent_wiki_sm-2.0.0.tar.gz#egg=xx_ent_wiki_sm
